---
import { ghostClient } from '@/lib/ghost';
import Layout from '@/components/BasicLayout.astro';

const { page } = Astro.params;
const posts = await ghostClient.posts
	.browse({
		limit: '12',
		page,
		filter: 'tag:news',
		fields:
			"id,feature_image,title,published_at,excerpt",
	})
if (!posts.length) {
	return Astro.redirect("/404");
}
const postData = posts.map((post) => ({
	...post,
	tags: /tags:([\w,]+)\|/.exec(post.excerpt)[1].split(','),
	author: /author:([\w\sㄱ-ㅎ가-힣]+)\|/.exec(post.excerpt)[1],
	feature_image: post.feature_image.replace(import.meta.env.GHOST_SITE_URL,'https://ones-to-watch.ethansup.net'),
}))
---

<Layout>
	<article class="flex">
		<div class="container mx-auto px-4 sm:px-24">
			<ul class="mb-16">
				{postData.map((post) => (
					<li class="w-full rounded-md border-4 border-gray-500 overflow-hidden p-3 lg:w-1/2">
						<a
							class="w-full h-40 flex overflow-hidden"
							href={`/news/post/${post.id}`}
						>
							<img
								src={post.feature_image}
								alt=""
								class="w-1/6 mr-4 lg:w-1/3"
							/>
							<div class="py-3 flex flex-col grow w-32">
								<div class="text-3xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
									{post.title}
								</div>
								<div class="mb-auto">
									{post.tags.map((tag) => (
										<span
											class="inline-block rounded-xl py-1 px-4 text-md mr-1 bg-teal-200"
										>
										{tag}
									</span>
									))}
								</div>
								<div class="text-lg text-gray-700 w-full">
									{new Intl.DateTimeFormat('ko-KR').format(new Date(post.published_at))}
								</div>
							</div>
						</a>
					</li>
				))}
			</ul>
			<nav class="flex justify-between w-full px-0 sm:px-8">
				<div>
					{posts.meta.pagination.prev ? (
						<a class="rounded-xl bg-teal-600 text-white text-3xl p-4" href={`/news/list/${page - 1}`}>이전</a>
					) : null}
				</div>
				<div>
					{posts.meta.pagination.next ? (
						<a class="rounded-xl bg-teal-600 text-white text-3xl p-4" href={`/news/list/${page + 1}`}>다음</a>
					) : null}
				</div>
			</nav>
		</div>
	</article>
</Layout>