---
import { getCollection } from 'astro:content';
import Layout from '@/components/BasicLayout.astro';
import Post from '@/components/Post.astro';
import "@/styles/list-page.css";

const { page } = Astro.params;
// 
const collection = await getCollection('news');
if (!Number.isSafeInteger(Number(page)) || !collection) {
  return Astro.redirect('/404');
}
const validatedPage = Number(page as string);

const list = collection.sort(
  (a, b) => (b.data.properties.날짜?.start.getTime() ?? 0) - (a.data.properties.날짜?.start.getTime() ?? 0))
  .slice(12 * (validatedPage - 1), 12 * validatedPage);
const length = collection.length;
---

<Layout pageTitle={`${page}페이지 | OTW for FE`}>
  <article class="flex">
    <div class="container">
      <ul
        class="article-grid"
      >
        {
          list.map((post) => (
            <Post post={post} />
          ))
        }
      </ul>
      <nav class="pagination-list">
        <div>
          {
            validatedPage > 1 ? (
              <a
                class="pagination-previous"
                href={`/news/list/${(validatedPage ?? 0) - 1}`}
              >
                이전
              </a>
            ) : null
          }
        </div>
        <div>
          {
            length > 12 * validatedPage ? (
              <a
                class="pagination-next"
                href={`/news/list/${(validatedPage ?? 0) + 1}`}
              >
                다음
              </a>
            ) : null
          }
        </div>
      </nav>
    </div>
  </article>
</Layout>
