---
import Layout from '@/components/BasicLayout.astro';

const { page } = Astro.params;
if (!Number.isSafeInteger(Number(page))) {
  return Astro.redirect('/404');
}
const runtime = Astro.locals.runtime;
let currentPage = Number(page);
const response = await runtime.env.CRAWLER_KV.list({
  prefix: 'newsletter',
});

let postData = [];

for (const item of response.keys.slice((currentPage - 1) * 12, page * 12)) {
  postData.push({
    id: item.name,
    name: item.metadata.title,
    date: item.metadata.targetDate,
  });
}
postData = postData.sort((a, b) => new Date(b.date) - new Date(a.date));
---

<Layout pageTitle={`${page}페이지 | OTW for FE`}>
  <article class="flex">
    <div class="container mx-auto px-4 sm:px-24">
      <ul
        class="flex flex-col lg:flex-row mb-18 flex-wrap gap-x-0 gap-y-4 lg:gap-x-4"
      >
        {
          postData.map((post) => (
            <li class="w-full rounded-md border-4 border-gray-500 overflow-hidden p-3 lg:w-[calc(50%-.5rem)]">
              <a
                class="w-full h-20 lg:h-28 flex overflow-hidden"
                href={`/news/post/${post.id}`}
              >
                <div class="py-3 flex flex-col grow w-32">
                  <div class="text-2xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
                    {post.name}
                  </div>
                  {post.date ? (
                    <div class="text-md lg:text-lg text-gray-700 w-full">
                      {new Intl.DateTimeFormat('ko-KR').format(
                        new Date(post.date),
                      )}
                    </div>
                  ) : null}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <nav class="flex justify-between w-full px-0 sm:px-8 my-8">
        <div>
          {
            Number(page) > 1 ? (
              <a
                class="rounded-xl bg-teal-600 text-white text-3xl p-4"
                href={`/news/list/${(page ? Number(page) : 2) - 1}`}
              >
                이전
              </a>
            ) : null
          }
        </div>
        <div>
          {
            false ? (
              <a
                class="rounded-xl bg-teal-600 text-white text-3xl p-4"
                href={`/news/list/${(page ? Number(page) : 0) + 1}`}
              >
                다음
              </a>
            ) : null
          }
        </div>
      </nav>
    </div>
  </article>
</Layout>
