---
import type { PaginationData } from '@/typescript/KVData';
import Layout from '@/components/BasicLayout.astro';

const { page } = Astro.params;
const runtime = Astro.locals.runtime;
const list = await runtime.env.CRAWLER_KV.get<PaginationData[]>(
  'pagination',
  'json',
);
if (!Number.isSafeInteger(Number(page)) || !list) {
  return Astro.redirect('/404');
}
const validatedPage = Number(page as string);

let postData = list.slice((validatedPage - 1) * 12, validatedPage * 12)
  .sort((a, b) => (new Date(b.date)).getTime() - (new Date(a.date)).getTime());

const length = list.length;
---

<Layout pageTitle={`${page}페이지 | OTW for FE`}>
  <article class="flex">
    <div class="container mx-auto px-4 sm:px-24">
      <ul
        class="flex flex-col lg:flex-row mb-18 flex-wrap gap-x-0 gap-y-4 lg:gap-x-4"
      >
        {
          postData.map((post) => (
            <li class="w-full rounded-md border-4 border-gray-500 overflow-hidden p-3 lg:w-[calc(50%-.5rem)]">
              <a
                class="w-full h-20 lg:h-28 flex overflow-hidden"
                href={`/news/post/${post.id}`}
              >
                <div class="py-3 flex flex-col grow w-32">
                  <div class="text-lg lg:text-2xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
                    {post.title}
                  </div>
                  {post.date ? (
                    <div class="text-sm lg:text-md lg:text-lg text-gray-700 w-full">
                      {new Intl.DateTimeFormat('ko-KR').format(
                        new Date(post.date),
                      )}
                    </div>
                  ) : null}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <nav class="flex justify-between w-full px-0 sm:px-8 my-8">
        <div>
          {
            validatedPage > 1 ? (
              <a
                class="rounded-xl bg-teal-600 text-white text-xl lg:text-3xl p-4"
                href={`/news/list/${(validatedPage ?? 0) - 1}`}
              >
                이전
              </a>
            ) : null
          }
        </div>
        <div>
          {
            length > 12 * validatedPage ? (
              <a
                class="rounded-xl bg-teal-600 text-white text-xl lg:text-3xl p-4"
                href={`/news/list/${(validatedPage ?? 0) + 1}`}
              >
                다음
              </a>
            ) : null
          }
        </div>
      </nav>
    </div>
  </article>
</Layout>
