@import url("https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiFlat.css");

.container {
  padding-top: 1.5rem;
}
.title {
  margin: 1rem 0;
  font-size: 2rem;
}
.description {
  margin-bottom: 1rem;
  padding: 0 0 8px;
  border-bottom: 1px solid var(--foreground);
}
.image-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 0 auto;

  @media (min-width: 769px) {
    & {
      width: 70%;
    }
  }
}
.image-container img {
  width: 100%;
  height: 100%;
}
article .markdown-body {
  font-family: "SUITE", "Fluent Emoji Flat", -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, "sans-serif";
}

article .markdown-body > .bookmark-link {
  cursor: pointer;
  width: fit-content;
  display: flex;
  font-family: "SUITE", "Fluent Emoji Flat", -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, "sans-serif";
  margin-bottom: .5rem;
  padding: .25rem .75rem;
  border-radius: .25rem;
  font-size: .875rem;
  color: #ffffff;
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(194, 78%, 50%, 1) 100%);
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(90deg, rgba(136,136,136,1) 0%, hsla(194, 78%, 50%, 1) 100%);
  }
  &:has(+ &) {
    margin-bottom: .75rem;
  }
}

.emoji {
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
}