@font-face {
  font-family: "SUITE";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

:root {

  --base-950: #080d40;
  --base-900: #131b67;
  --base-800: #1a237e
    /* locked */
  ;
  --base-700: #303ecc;
  --base-600: #5860e2;
  --base-500: #7d82ea;
  --base-400: #9ea2f0;
  --base-300: #c1c3f5;
  --base-200: #cfd1f7;
  --base-100: #dedffa;
  --base-50: #f3f3fd;
}

:root {

  --background: var(--base-50);
  --foreground: var(--base-950);
  --muted-color: var(--base-400);
  --border-color: #var(--base-800);
  --primary-color: var(--base-700);
  --hover-bg: var(--base-200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--base-950);
    --foreground: var(--base-50);
    --muted-color: var(--base-600);
    --border-color: var(--base-200);
    --primary-color: var(--base-300);
    --hover-bg: var(--base-800);
  }
}

[data-theme="dark"] {
  --background: var(--base-950);
  --foreground: var(--base-50);
  --muted-color: var(--base-600);
  --border-color: var(--base-200);
  --primary-color: var(--base-300);
  --hover-bg: var(--base-800);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "SUITE", -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, "sans-serif";
  background-color: var(--background);
  color: var(--foreground);
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.sr-only {
  display: none;
}

a {
  color: var(--base-500);
}

main>.markdown-body {
  padding: 0 1rem;
  background-color: var(--background);
}