---
import { ghostClient } from "@/lib/ghost";
import Layout from "@/components/BasicLayout.astro";

const { page } = Astro.params;
if (!Number.isSafeInteger(Number(page))) {
  return Astro.redirect("/404");
}
const result = await ghostClient.posts
  .browse({
    limit: 12,
    page: Number(page),
    filter: "tags:email",
    fields: "id,feature_image,title,published_at,excerpt",
  })
  .fetch();
if (!result.success || !result.data.length) {
  return Astro.redirect("/404");
}
const postData = result.data
---

<Layout pageTitle={`${page}페이지 | OTW for FE`}>
  <article class="flex">
    <div class="container mx-auto px-4 sm:px-24">
      <ul
        class="flex flex-col lg:flex-row mb-18 flex-wrap gap-x-0 gap-y-4 lg:gap-x-4"
      >
        {
          postData.map((post) => (
            <li class="w-full rounded-md border-4 border-gray-500 overflow-hidden p-3">
              <a
                class="w-full h-28 lg:h-40 flex overflow-hidden"
                href={`/letter/post/${post.id}`}
              >
                <img
                  src={post.feature_image ?? "/images/no-image.png"}
                  alt=""
                  class="mr-4 w-1/3 object-contain"
                />
                <div class="py-3 flex flex-col grow w-32">
                  <div class="text-md lg:text-xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
                    {post.title}
                  </div>
                  <div class="mb-auto">
                    {post.tags?.map((tag) => (
                      <span class="inline-block rounded-xl py-1 px-4 text-sm lg:text-md mr-1 bg-teal-200">
                        {tag}
                      </span>
                    ))}
                  </div>
                  <div class="text-md lg:text-lg text-gray-700 w-full">
                    {new Intl.DateTimeFormat("ko-KR").format(
                      new Date(post.published_at ?? "")
                    )}
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <nav class="flex justify-between w-full px-0 sm:px-8">
        <div>
          {
            result.meta.pagination.prev ? (
              <a
                class="rounded-xl bg-teal-600 text-white text-3xl p-4"
                href={`/letter/list/${(page ? Number(page) : 2) - 1}`}
              >
                이전
              </a>
            ) : null
          }
        </div>
        <div>
          {
            result.meta.pagination.next ? (
              <a
                class="rounded-xl bg-teal-600 text-white text-3xl p-4"
                href={`/letter/list/${(page ? Number(page) : 0) + 1}`}
              >
                다음
              </a>
            ) : null
          }
        </div>
      </nav>
    </div>
  </article>
</Layout>
