---
import Layout from "@/components/BasicLayout.astro";

const runtime = Astro.locals.runtime;
const response = await runtime.env.CRAWLER_KV.list({
  prefix: 'newsletter',
});

let postData = [];
for (const item of response.keys.slice(0, 6)) {
  postData.push({
    id: item.name,
    name: item.metadata.title,
    date: item.metadata.targetDate,
  })
}
---

<Layout pageTitle={"Ones To Watch for FrontEnd"}>
  <Fragment slot="head">
    <meta
      name="description"
      content="프론트엔드에 대한 정보들을 매주 큐레이션해드립니다."
    />
    <meta property="og:title" content="ONE TO WATCH for FrontEnd" />
    <meta
      property="og:description"
      content="프론트엔드에 대한 정보들을 매주 큐레이션해드립니다."
    />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/images/og.png" />
  </Fragment>
  <article class="container pt-12 px-4 sm:px-12 mx-auto">
    <h1 class="mb-4 text-6xl text-center font-bold">
      Ones To Watch for FrontEnd
    </h1>
    <h2 class="mb-8 text-3xl text-center font-bold">
      프론트엔드에 대한 정보들을 매주 큐레이션해드립니다.
    </h2>
  </article>
  <article class="container pt-12 px-4 lg:px-12 mx-auto">
    <h3 class="mb-8 text-2xl text-center font-bold">최신 정보</h3>
    <ul
      class="flex flex-col lg:flex-row mb-18 flex-wrap gap-x-0 gap-y-4 lg:gap-x-4"
    >
      {
        postData.map((post) => (
          <li class="w-full rounded-md border-4 border-gray-500 overflow-hidden p-3 lg:w-[calc(50%-.5rem)]">
            <a
              class="w-full h-20 lg:h-28 flex overflow-hidden"
              href={`/news/post/${post.id}`}
            >
              <div class="py-3 flex flex-col grow w-32">
                <div class="text-2xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
                  {post.name}
                </div>
                <div class="text-md lg:text-lg text-gray-700 w-full">
                  {new Intl.DateTimeFormat("ko-KR").format(
                    new Date(post.date)
                  )}
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center my-8">
      건의사항이나 문의사항이 있다면 이 폼을 통해 전해주세요 :)
    </div>
    <div class="flex justify-center">
      <a
        class="w-36 rounded-xl bg-teal-500 text-white h-12 flex justify-center items-center"
        href="https://forms.gle/XxxppcUJqDPm2esh9"
      >
        건의하기
      </a>
    </div>
  </article>
</Layout>
