---
import type { PaginationData } from '@/typescript/KVData';

type Props = {
  post: PaginationData;
  as: string;
};
const { post, as } = Astro.props;

const Element = as ?? 'li';
---
<Element class="w-full overflow-hidden">
  <a
    class="w-full p-3 lg:w-[calc(50%-.5rem)] h-20 lg:h-28 flex rounded-md border-4 border-gray-500"
    href={`/news/post/${post.id}`}
  >
    <div class="py-3 flex flex-col grow w-full overflow-hidden">
      <div class="text-md lg:text-2xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
        {post.title}
      </div>
      {post.date ? (
        <div class="text-sm lg:text-md lg:text-lg text-gray-700 w-full">
          {new Intl.DateTimeFormat('ko-KR').format(
            new Date(post.date),
          )}
        </div>
      ) : null}
    </div>
  </a>
</Element>