---
import { getEntry, render } from 'astro:content';
import 'github-markdown-css/github-markdown-light.css';
import '@/styles/content.css';
import Layout from '@/components/BasicLayout.astro';

export interface Props {
  slug: string;
}

const { slug } = Astro.params;
if (!slug) {
  return Astro.redirect("/404");
}
const news = await getEntry("news", String(slug));
if (!news) {
  return Astro.redirect("/404");
}

const { Content } = await render(news);
---
<Layout
  pageTitle={news.data.properties.이름}
  description={`${news.data.properties.이름} - ${new Intl.DateTimeFormat('ko-KR').format(new Date())}`}
>
  <article
    class="container"
  >
  {news.data.cover?.type === "file" && (
  <div class="image-container">
    <img 
      src={news.data.cover.file.url} 
      alt="" 
      loading="lazy"
    />
  </div>
)}
    <h1 class="title">
      {news.data.properties.이름}
    </h1>
    <div class="description">
      <p>{new Intl.DateTimeFormat('ko-KR').format(new Date())}</p>
    </div>

    <div class="markdown-body">
      <Content />
    </div>
    <!-- <div class="markdown-body pb-12" set:html={html} /> -->
    <script>
      const markdownElement = document.querySelector('.markdown-body');

      const headingElements = markdownElement?.querySelectorAll('h2');
      if (headingElements) {
      Array.from(headingElements).forEach((element) => {
        element.addEventListener('click', (e) => {
          const targetElement = e.currentTarget;
          if (!(targetElement instanceof Element)) {
            return;
          }
          const id = targetElement?.id;
          if (!id) {
            return;
          }
          const url = new URL(window.document.location.href);
          url.hash = `#${id}`;
          window.document.location.assign(url)  ;
          window.navigator.clipboard.writeText(
            url.toString(),
          );
        });
      });
      }
    </script>
    <script src="https://giscus.app/client.js"
            data-repo="SimYunSup/newsletter-ones-to-watch"
            data-repo-id="R_kgDOKO1eRg"
            data-category-id="DIC_kwDOKO1eRs4CZDYo"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="ko"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </article>
</Layout>
