---
import 'github-markdown-css/github-markdown-light.css';
import '@/styles/content.css';
import { NotionRenderer } from '@notion-render/client';
import { notionClient } from '../../../lib/data';
import Layout from '@/components/BasicLayout.astro';

const renderer = new NotionRenderer();

const { slug } = Astro.params;
const propertyResult = await notionClient.pages.retrieve({
	page_id: slug,
});
const published_date = propertyResult.properties.날짜.date.start;
const title = propertyResult.properties.이름.title[0].plain_text
const result = await notionClient.blocks.children.list({
	block_id: slug,
})

if (!result) {
  return Astro.redirect('/404');
}

const html = await renderer.render(...(result.results as any));

---
<Layout pageTitle={""}>
	<Fragment slot="head">
		<meta name="description" content={`뉴스레터`} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="article" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content="/images/og.png" />
	</Fragment>
	<article
		class="col-span-12 lg:col-span-8 lg:col-start-3 pt-10 px-2 lg:pt-[80px] max-w-3xl mx-auto"
	>
		<h1 class="text-3xl font-semibold mb-8">
			{title}
		</h1>
		<div class="flex items-center gap-3">
			<div>
				<div class="flex items-center text-gray-400 text-sm gap-1">
					<p>{new Intl.DateTimeFormat('ko-KR').format(new Date(published_date))}</p>
				</div>
			</div>
		</div>
		<div class="markdown-body pb-12" set:html={html} />
		<script>
			import Twemoji from 'twemoji';
			Twemoji.parse(document.body)
		</script>
		<script src="https://giscus.app/client.js"
				data-repo="SimYunSup/newsletter-ones-to-watch"
				data-repo-id="R_kgDOKO1eRg"
				data-category-id="General"
				data-mapping="pathname"
				data-strict="0"
				data-reactions-enabled="1"
				data-emit-metadata="0"
				data-input-position="bottom"
				data-theme="light"
				data-lang="ko"
				data-loading="lazy"
				crossorigin="anonymous"
				async>
		</script>
	</article>
</Layout>
